.search-container {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--color-background);
  border: 3px solid var(--color-primary);
  border-radius: 15px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  box-sizing: border-box;

  .search {
    display: flex;
    gap: 5px;
    align-items: center;

    input {
      flex: 1;
      height: 32px;
      padding: 0 10px;
    }

    button {
      height: 32px;
      width: 100px;
      padding: 0 10px;
    }
  }

  .lista-redes {
    .rede-item {
      border-bottom: 1px solid #ccc;

      > div:first-child {
        display: block;
        width: 100%;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }

      .mercados {
        margin-left: 15px;
        border-left: 2px solid var(--color-primary);
        padding-left: 15px;

        .mercado-item {
          margin-bottom: 5px;

          .mercado-nome {
            display: block;
            width: 100%;
            padding: 10px;
            cursor: pointer;
            
            &:hover {
              background-color: rgba(0, 0, 0, 0.05);
            }
          }
          
          &.selecionado > .mercado-nome {
            background-color: rgba(0, 0, 0, 0.1);
          }
          
          .pdvs {
            margin-left: 25px;
            border-left: 2px solid var(--color-primary);
            font-size: 13px;
            margin-top: 5px;

            > div {
              padding: 8px 10px;
              cursor: pointer;

              &:hover {
                background-color: rgba(0, 0, 0, 0.05);
              }
            }
          }
        }
      }
    }
  }
}