<nav class="navbar">
    <div class="navbar-left">
        <span class="brand">VR Software -</span>
        <span class="welcome">Bem-vindo, {{ usuario }}</span>
    </div>

    <div class="navbar-right">
        <button class="icon-btn" (click)="historico()" title="Histórico">
            <img src="https://img.icons8.com/?size=100&id=0VAHjeRycrlc&format=png&color=000000" alt=" Cadastrar" />
        </button>
        <button class="icon-btn" (click)="cadastrar()" title="Cadastrar">
            <img src="https://img.icons8.com/?size=100&id=t5GRNS5yIsHP&format=png&color=000000" alt=" Cadastrar" />
        </button>
        <button class="icon-btn" (click)="upgrades()" title="Upgrades">
            <img src="https://img.icons8.com/?size=100&id=364&format=png&color=000000" alt="Configurações" />
        </button>
        <button class="icon-btn" (click)="home()" title="Viewer">
            <img src="https://img.icons8.com/?size=100&id=9zcV0gKAozhn&format=png&color=000000" alt=" Home" />
        </button>
        <button class="icon-btn" (click)="sair()" title="Sair">
            <img src="https://img.icons8.com/?size=100&id=q4ZIbaRJl8l0&format=png&color=000000" alt=" Sair" />
        </button>
    </div>
</nav>