
.login-container {
    max-width: 300px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border: 1px solid var(--color-primary);

    display: flex;
    flex-direction: column;
    padding: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}