.home-container {
    margin-top: 10px;
    display: flex;
    width: 100vw;
    height: calc(100vh - 70px);
    overflow: hidden;
}

.left-side {
    width: 25%;
    height: 100%;
    background-color: var(--color-background);
    overflow: hidden;
}

.right-side {
    width: 75%;
    height: 100%;
    background-color: var(--color-background);
    overflow: hidden;
}